.primary-content {
  padding: 10px 10% 0 10%;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-bloc {
  display: block;
}

.d-flex-wrap {
  flex-flow: wrap;
}

.flex-direction-col {
  flex-direction: column;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.m12 {
  margin: 12px;
}

.m16 {
  margin: 16px;
}

.m24 {
  margin: 24px
}

.p4 {
  padding: 4px;
}

.p8 {
  padding: 8px;
}

.p12 {
  padding: 12px;
}

.p16 {
  padding: 16px;
}

.p24 {
  padding: 24px
}

.mt-auto {
  margin-top: auto;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml-auto {
  margin-left: auto;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.mr-auto {
  margin-right: auto;
}

.mr4 {
  margin-right: 4px;
}

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 12px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

//

.pt4 {
  padding-top: 4px;
}

.pt8 {
  padding-top: 8px;
}

.pt12 {
  padding-top: 12px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pl4 {
  padding-left: 4px;
}

.pl8 {
  padding-left: 8px;
}

.pl12 {
  padding-left: 12px;
}

.pl16 {
  padding-left: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pr4 {
  padding-right: 4px;
}

.pr8 {
  padding-right: 8px;
}

.pr12 {
  padding-right: 12px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.item-align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.text-bold {
  font-weight: bold;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-100vh {
  width: 100vh;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.t-button {
  &:hover {
    filter: brightness(0.9);
  }

  border-radius: 5px;
  cursor: pointer;
  min-height: 40px;
  //min-width: 200px;
  max-width: 100%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 10px;
}